.parent {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(5, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  }
  
  .div1 { grid-area: 1 / 2 / 6 / 3; }
  .div2 { grid-area: 1 / 3 / 6 / 5; }
  .div3 { grid-area: 2 / 2 / 5 / 5; }

  .login {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    justify-items:  center;
    }
    
    .divlogin { grid-area: 2 / 2 / 3 / 3; }

  /*Scroll box ista de amigos*/
  .friendlist{
  width: 150px;
  height: 200px;
  overflow: auto;
  }
  /**/

  /*Inputs de login y register*/
  .input-text{
  padding:10px;
  border-radius:20px;
  box-shadow:5px
}

.input-log{
  padding:10px;
border:none;
background-color:#3F51B5;
color:#fff;
font-weight:600;
border-radius:5px;
width:78%;

}
/**/